<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Collection</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/loading.css">
    <link rel="preload" href="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" as="image">
</head>
<body>
    <div class="page-wrapper">
        <div class="header">
            <div class="generation-info" id="generation-info">
                Generation: 0/0
            </div>

            <nav class="navbar">
                <!-- Dropdown menu for generations -->
                <select id="generation-select" onchange="loadSelectedGeneration()">
                    <option disabled selected>Choose Generation ▾</option>
                    <option value="1">Kanto</option>
                    <option value="2">Johto</option>
                    <option value="3">Hoenn</option>
                    <option value="4">Sinnoh</option>
                    <option value="5">Unova</option>
                    <option value="6">Kalos</option>
                    <option value="7">Alola</option>
                    <option value="8">Galar</option>
                    <option value="9">Hisui</option>
                    <option value="10">Paldea</option>
                </select>
                <button id="reload-button" class="reload-button">Reload File</button>
                <input type="file" id="file-input" accept=".xlsx,.csv" hidden>
                <button id="upload-button">Upload File</button>
                <p id="file-name" style="margin-top: 0.5rem; color: #7c95b1;"></p>
                <input type="text" id="search-input" placeholder="Search Pokémon by name..." style="margin-left: 1rem; padding: 0.5rem;">
                <button id="search-button" style="margin-left: 0.5rem; padding: 0.5rem;">Search</button>
            </nav>
        </div>

        <div class="content">
            <div id="pokemon-grid" class="pokemon-grid">
                <!-- Pokémon will be dynamically loaded here -->
            </div>
        </div>
    </div>

    <div id="pokemon-card" class="floating-card hidden">
    <div class="card-content">
        <span id="card-name"></span>
        <div>
            <input type="checkbox" id="collected-checkbox">
            <label for="collected-checkbox">Collected</label>
        </div>
        <button id="close-card">Close</button>
    </div>
    </div>

    <script>
        function loadSelectedGeneration() {
            const select = document.getElementById('generation-select');
            const generation = select.value;
            loadGeneration(generation);
        }
    </script>
    <script src="/static/script.js"></script>
</body>
</html>